.transaction_history {
  max-width: 340px;
  border-collapse: collapse;

  font-size: 18px;

  position: absolute;
  right: 10px;
  bottom: 0px;
}

.transaction_history thead {
  background-color: #aae1f1;
}
.transaction_history th,
td {
  padding: 5px 33px 5px 15px;
  text-align: left;
  border: 1px solid black;
}
.transaction_history tr:nth-child(even) {
  background-color: #cecccc;
}
